# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Env files
.env
.env.*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Coverage / builds
coverage/
dist/
build/

# Misc
*.local

# Ignore nested repo
Blog-Application/
